/* .ui.inverted.top.fixed.menu {
  background-color: #d6dde1;
    /* background-image: linear-gradient(
      135deg,
      rgb(114, 133, 206) 0%,
      rgb(90, 173, 201) 69%,
      rgb(75, 144, 146) 89%
    ) !important; */

body {
  height: 100vh!important;
  background-color: #fffcf2;
}