.profile-cover {
    width: 100%;
    height: 150px;
    background: linear-gradient(90deg, rgba(173,232,244,1) 0%, rgba(182,204,254,1) 100%);
    position: absolute;
}

.left-space {
    padding-left: '2.4rem' !important;
}

.image-content {
    padding-top: 50px;
    position: relative;
}

.profile-image {
    cursor: pointer;
}

.profile-image:hover {
    opacity: 50%;
}

.image-edit-icon {
    position: absolute;
    bottom: 41%;
    left: 75px;
    display: none !important;
    z-index: 0;
}

.profile-image:hover + .image-edit-icon {
    display: inline-block !important;
}

.image-edit-icon:hover {
    display: inline-block !important;
    cursor: pointer;
}