.item-button-display {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

.resume-arrow {
    display: flex !important;
    justify-content: center !important;
}

.arrow-container {
    margin: 0 !important;
    cursor: pointer !important;
}

.applicants-container {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    max-height: 400px !important;
    overflow-y: scroll !important;
}