.offer-details-segment {
    position: sticky !important;
    top: 1.7rem;
}

.date-views-container {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

.date-details {
    margin-right: 5px;
}

.offer-button-group {
    display: flex;
}

.offer-description {
    height: 490px;
}