.grid-modal { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 325px;
    margin-left: 0 !important;
}

.upload-container {
    width: 100% !important;
}

.image-row {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 82% !important;
}

.image-border {
    border: 2px solid #9c9e9f;
    border-radius: 15px;
    border-style: dashed;
}

.button-row {
    display: flex !important;
    justify-content: end !important;
}

.upload-boder-line {
    border: 2px solid gray !important;
    border-radius: 15px !important;
    border-style: dashed !important;
    /* padding: 24px 0px 23px 0px !important; */
    margin-top: 0 !important;
}

.upload-border-active {
    border-color: black !important;
}

.button-column {
    width: 50% !important;
}

.info-column {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.info-text {
    margin-top: 0 !important;
}